@font-face {
  font-family: "gothamBold";
  src: url(../fonts/gotham-bold.otf); }
@font-face {
  font-family: "gothamLight";
  src: url(../fonts/gotham-light.otf); }
* {
  margin: 0;
  padding: 0; }

html {
  background: url(../images/philipp-kammerer-266322-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: "gothamLight";
  color: #272726; }

.picker__holder {
  font-size: .7em;
  width: 80%; }

.picker__footer {
  display: none; }

.header {
  padding: 3%;
  position: absolute;
  width: 100%; }

.header-index .logo {
  width: 30%; }

.header-p2 {
  background-color: #97D9E1;
  background-image: linear-gradient(45deg, #97D9E1 0%, #D9AFD9 100%);
  height: 20vh; }
  .header-p2 .logo {
    width: 20%; }

.backdrop-on {
  background: #e7eef0;
  height: 80vh;
  max-height: 500px;
  position: fixed;
  bottom: 0;
  width: 100%; }

.view-opt {
  background: #FFF;
  border-bottom: 0.03em solid #7d7e7e;
  border-top: 0.03em solid #7d7e7e;
  display: flex; }
  .view-opt .view {
    color: #7d7e7e;
    flex: 1;
    padding: 2% 0;
    text-align: center; }
    .view-opt .view .fas {
      display: block; }
    .view-opt .view .opt-dscptn {
      display: block;
      font-family: "gothamLight";
      font-size: 0.1em;
      margin-top: 5px;
      white-space: normal; }
  .view-opt .vl {
    border-right: 0.03em solid #7d7e7e; }
  .view-opt .v-active {
    color: #272726; }

.list-view {
  padding: 3%; }

.dw-ctnr-flex {
  display: flex;
  justify-content: space-between; }
  .dw-ctnr-flex .btn-secondary {
    color: #4d4d4d;
    background-color: #FFF;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-family: "gothamBold";
    font-size: 0.7em; }
  .dw-ctnr-flex .dropdown-menu {
    color: #272726;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-family: "gothamLight";
    font-size: 0.7em; }
  .dw-ctnr-flex .btn-secondary:not(:disabled):not(.disabled).active, .dw-ctnr-flex .btn-secondary:not(:disabled):not(.disabled):active, .dw-ctnr-flex .show > .btn-secondary.dropdown-toggle, .dw-ctnr-flex .btn-secondary:not(:disabled):not(.disabled).active, .dw-ctnr-flex .btn:focus {
    color: #4d4d4d;
    background-color: #FFF;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    outline: none; }

.opts-fltr-ctnr {
  width: 100%;
  padding: 3%;
  margin-bottom: 15px; }
  .opts-fltr-ctnr .opts-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    .opts-fltr-ctnr .opts-flex .opt-title {
      color: #4d4d4d;
      font-family: "gothamLight";
      font-size: .7em;
      margin: 10px 0 5px 0;
      text-transform: uppercase; }
    .opts-fltr-ctnr .opts-flex #drValue, .opts-fltr-ctnr .opts-flex #prValue {
      font-family: "gothamLight";
      font-size: 0.6em;
      text-align: right;
      width: 70%; }
    .opts-fltr-ctnr .opts-flex input[type=range] {
      width: 70%; }
    .opts-fltr-ctnr .opts-flex .opts-coll-right {
      display: flex; }
      .opts-fltr-ctnr .opts-flex .opts-coll-right .iconTxt-wrapper {
        font-family: "gothamBold";
        font-size: 0.5em;
        margin: 3px 4px;
        text-align: center;
        text-transform: uppercase; }
        .opts-fltr-ctnr .opts-flex .opts-coll-right .iconTxt-wrapper img {
          margin: 1px;
          width: 2.5em; }

.thumbnail-ctnr {
  background: #FFF;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.16);
  height: 100px;
  position: relative; }
  .thumbnail-ctnr img {
    border-radius: 15px;
    object-fit: cover;
    position: absolute;
    top: 5%;
    left: 2%;
    height: 90px;
    width: 90px; }
  .thumbnail-ctnr .centre-el-ctnr {
    position: absolute;
    top: 6%;
    left: 105px; }
    .thumbnail-ctnr .centre-el-ctnr .thumbnail-title {
      font-family: "gothamBold";
      font-size: 0.7em;
      margin-bottom: 2px;
      text-transform: uppercase;
      width: 120px; }
    .thumbnail-ctnr .centre-el-ctnr .txt-distance {
      color: #4d4d4d;
      font-family: "gothamLight";
      font-size: 0.6em;
      line-height: 10px;
      margin-bottom: 2px;
      width: 120px; }
    .thumbnail-ctnr .centre-el-ctnr .star-ctnr {
      color: #f6c603;
      font-size: 0.8em;
      margin-bottom: 2px; }
    .thumbnail-ctnr .centre-el-ctnr .btn-modal {
      color: #FFF;
      background-color: #f0842d;
      font-family: "gothamBold";
      font-size: 0.5em;
      text-transform: uppercase; }
    .thumbnail-ctnr .centre-el-ctnr .btn-modal:focus {
      box-shadow: none; }
  .thumbnail-ctnr .txt-price {
    color: #4d4d4d;
    font-family: "gothamLight";
    font-size: 0.6em;
    position: absolute;
    top: 10%;
    right: 10px; }
  .thumbnail-ctnr .btn-map {
    color: #7d7e7e;
    font-size: 1.5em;
    position: absolute;
    bottom: 12%;
    right: 20px; }

.top-content {
  position: fixed;
  left: 5%;
  width: 90%; }
  .top-content .search-bar {
    background: #FFF;
    border: 0.04em solid #7d7e7e;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    width: 100%; }
    .top-content .search-bar input[type=text] {
      border: none;
      color: #272726;
      display: inline;
      font-family: "gothamLight";
      width: 80%; }
    .top-content .search-bar input[type=text]:focus {
      outline: none; }
    .top-content .search-bar #searchButton {
      background: #e7eef0;
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;
      border-left: 0.04em solid #7d7e7e;
      box-sizing: border-box;
      color: #4d4d4d;
      cursor: pointer;
      text-align: center;
      width: 15%; }
      .top-content .search-bar #searchButton .fa-search {
        box-sizing: border-box;
        font-size: .8em; }
  .top-content .sb-index input[type=text] {
    font-size: 1em; }
  .top-content .sb-index #searchButton {
    padding: 2% 0; }
  .top-content .sb-p2 input[type=text] {
    font-size: 0.7em; }
  .top-content .sb-p2 #searchButton {
    padding: 1% 0; }

.tc-index {
  top: 30%; }

.tc-p2 {
  top: 10%; }

.flavour-text {
  color: #FFFFFF;
  font-size: 9vw;
  font-family: "gothamBold";
  line-height: 120%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 24px; }

.footer {
  margin: 0 10%;
  position: fixed;
  bottom: 15%;
  text-align: justify; }
  .footer .expl-text {
    color: #FFF;
    font-family: "gothamLight";
    font-size: .8em; }
  .footer .purenz-logo {
    width: 10%;
    position: fixed;
    bottom: 3%;
    right: 3%; }

.footer-hidden {
  display: none; }

.modal .modal-content {
  border: none;
  border-radius: 15px;
  max-height: 350px;
  padding: 3%;
  overflow: scroll; }
  .modal .modal-content .modal-header-flex {
    display: flex;
    margin-bottom: 10px;
    position: relative; }
    .modal .modal-content .modal-header-flex img {
      border-radius: 15px;
      display: inline;
      height: 90px;
      object-fit: cover;
      width: 90px;
      margin-right: 7px; }
    .modal .modal-content .modal-header-flex .img-booking {
      border-radius: 7.5px;
      height: 50px;
      width: 50px; }
    .modal .modal-content .modal-header-flex .wrap-text {
      display: inline; }
    .modal .modal-content .modal-header-flex .modal-title {
      font-family: "gothamBold";
      text-transform: uppercase;
      margin-bottom: 3px; }
    .modal .modal-content .modal-header-flex .title-booking {
      font-size: .7em; }
    .modal .modal-content .modal-header-flex .txt-distance {
      color: #7d7e7e;
      font-family: "gothamLight";
      font-size: 0.6em;
      margin-bottom: 3px; }
    .modal .modal-content .modal-header-flex .txt-price {
      color: #4d4d4d;
      font-family: "gothamLight";
      font-size: 0.7em;
      margin-bottom: 5px; }
    .modal .modal-content .modal-header-flex .price-green {
      color: #59b030; }
    .modal .modal-content .modal-header-flex .star-ctnr {
      color: #f6c603; }
      .modal .modal-content .modal-header-flex .star-ctnr .fas {
        margin-right: 2px; }
    .modal .modal-content .modal-header-flex .fa-times {
      color: #7d7e7e;
      font-size: 0.8em;
      position: absolute;
      top: 0;
      right: 0; }
  .modal .modal-content .modal-dscptn {
    font-family: "gothamLight";
    font-size: .8em;
    margin-bottom: 10px; }
  .modal .modal-content .modal-form .input-title {
    color: #4d4d4d;
    font-family: "gothamBold";
    font-size: .6em;
    margin-bottom: 5px;
    text-transform: uppercase; }
  .modal .modal-content .modal-form input {
    color: #272726;
    border: 0.05em solid #e7eef0;
    border-radius: 7px;
    font-size: 0.8em;
    margin-bottom: 14px;
    padding: 2px; }
  .modal .modal-content .modal-form input:focus {
    outline: none; }
  .modal .modal-content .modal-form .form-flex {
    display: flex; }
    .modal .modal-content .modal-form .form-flex input {
      width: 90%; }
  .modal .modal-content .txt-extras {
    color: #4d4d4d;
    display: flex;
    justify-content: space-between;
    font-family: "gothamLight";
    font-size: 0.5em;
    width: 50%; }
    .modal .modal-content .txt-extras input {
      transform: scale(0.75); }
  .modal .modal-content .modal-footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 5px; }
    .modal .modal-content .modal-footer-flex .ft-title {
      color: #7d7e7e;
      font-family: "gothamLight";
      font-size: 0.6em;
      text-transform: uppercase; }
    .modal .modal-content .modal-footer-flex .ft-flex {
      display: flex; }
      .modal .modal-content .modal-footer-flex .ft-flex .iconTxt-wrapper {
        margin: 3px 6px 0 0; }
        .modal .modal-content .modal-footer-flex .ft-flex .iconTxt-wrapper img {
          width: 1.5em; }
        .modal .modal-content .modal-footer-flex .ft-flex .iconTxt-wrapper .icon-title {
          font-family: "gothamBold";
          font-size: 0.33em;
          text-transform: uppercase;
          text-align: center; }
  .modal .modal-content .btn-modal {
    color: #FFF;
    background-color: #f0842d;
    font-family: "gothamBold";
    font-size: 0.8em;
    text-transform: uppercase; }
  .modal .modal-content .dropdown-toggle::after {
    font-size: 1.3em; }
  .modal .modal-content .btn-modal:focus {
    box-shadow: none; }

.green {
  color: #59b030 !important; }

/*# sourceMappingURL=style.css.map */
