$grey-blue: #4d4d4d;
$grey-cloud: #7d7e7e;
$grey-superLight: #e7eef0;
$off-black: #272726;
$yellow: #f6c603;
$orange: #f0842d;
$green: #59b030;

@font-face{
    font-family: "gothamBold";
    src: url(../fonts/gotham-bold.otf);
}
@font-face{
    font-family: "gothamLight";
    src: url(../fonts/gotham-light.otf);
}

*{
    margin: 0;
    padding: 0;
}

html{
//    background: url(../images/philipp-kammerer-266322-unsplash.jpg);
//    background-size: cover;
//    background-repeat: no-repeat;
//    background-attachment: fixed;
//    background-position: center;
    background: url(../images/philipp-kammerer_skier.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    font-family: "gothamLight";
    color: $off-black;
}

// Date picker styles

.picker__holder{
    font-size: .7em;
    width: 80%;
}
.picker__footer{
    display: none;
}

// END Date picker styles

.header{
    padding: 3%;
    position: absolute;
    width: 100%;
    transition: all 1s ease-out;
}

.header-index{
    .logo{
        width: 30%;
    }
}

.header-p2{
    background-color: #97D9E1;
    background-image: linear-gradient(45deg, #97D9E1 0%, #D9AFD9 100%);
    height: 7em;
    .logo{
        width: 20%;
    }
}

.backdrop{
    position: fixed;
    top: 100vh;
    transition: top 0.5s ease-out;
}

.backdrop-on{
    background: $grey-superLight;
        top: 7em;
        bottom: 0;
    width: 100%;
}

.view-opt{
    background: #FFF;
    border-bottom: .03em solid $grey-cloud;
    border-top: .03em solid $grey-cloud;
    display: flex;
    .view{
        color: $grey-cloud;
        flex: 1;
        padding: 2% 0;
        text-align: center;
        .fas{
            display: block;
        }
        .opt-dscptn{
            display: block;
            font-family: "gothamLight";
            font-size: 0.1em;
            margin-top: 5px;
            white-space: normal;
        }
    }
    .vl{
        border-right: .03em solid $grey-cloud;
    }
    .v-active{
        color: $off-black;
    }
}

.list-view{
    height: 100%;
    padding: 3% 3% 15% 3%;
    overflow: scroll;
}

.lv-translate{
    transform: translateX(-1000px);
}

.dw-ctnr-flex{
    display: flex;
        justify-content: space-between;
    margin-bottom: 15px;
    .btn-secondary{
        color: $grey-blue;
        background-color: #FFF;
        border: none;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        font-family: "gothamBold";
        font-size: 0.7em;
    }
    .dropdown-menu{
        color: $off-black;
        border: none;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        font-family: "gothamLight";
        font-size: 0.7em;
    }
    .btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle, .btn-secondary:not(:disabled):not(.disabled).active, .btn:focus{
        color: $grey-blue;
        background-color: #FFF;
        border: none;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
        outline: none;
    }
}

.opts-fltr-ctnr{
    height: auto;
    margin-top: -10px;
    margin-bottom: 15px;
    max-height: 140px;
    padding: 0 3%;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    width: 100%;
    .opts-flex{
        display: flex;
            align-items: center;
            justify-content: space-between;
        width: 100%;
        .opt-title{
            color: $grey-blue;
            font-family: "gothamLight";
            font-size: .7em;
            margin: 10px 0 5px 0;
            text-transform: uppercase;
        }
        #drValue, #prValue{
            font-family: "gothamLight";
            font-size: 0.6em;
            text-align: right;
            width: 70%;
        }
        input[type=range]{
            width: 70%;
        }
        .opts-coll-right{
            display: flex;
            .iconTxt-wrapper{
                color: $grey-cloud;
                font-family: "gothamBold";
                font-size: 0.5em;
                margin: 3px 4px;
                text-align: center;
                text-transform: uppercase;
                img{
                    margin: 1px;
                    width: 2.5em;
                }
            }
        }
        
    }
}

.fltr-shut{
    max-height: 0;
}

.no-results{
    color: $grey-cloud;
    font-size: 0.8em;
    font-family: gothamLight;
}

.thumbnail-ctnr{
    background: #FFF;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.16);
    height: 100px;
    margin: 10px 0;
    position: relative;
    img{
        border-radius: 15px;
        object-fit: cover;
        position: absolute;
            top: 5%;
            left: 2%;
        height: 90px;
        width: 90px;
    }
    .centre-el-ctnr{
        position: absolute;
                top: 6%;
                left: 105px;
        .thumbnail-title{
            font-family: "gothamBold";
            font-size: 0.7em;
//            position: absolute;
//                top: 6%;
//                left: 105px;
            margin-bottom: 2px;
            text-transform: uppercase;
            width: 200px;
        }
        .txt-distance{
            color: $grey-blue;
            font-family: "gothamLight";
            font-size: 0.6em;
            line-height: 10px;
            margin-bottom: 2px;
//            position: absolute;
//                top: 20%;
//                left: 105px;
            width: 120px;
        }
        .star-ctnr{
            color: $yellow;
            font-size: 0.8em;
            margin-bottom: 2px;
//            position: absolute;
//                top: 40%;
//                left: 105px;
        }
        .btn-modal{
            color: #FFF;
            background-color: $orange;
            font-family: "gothamBold";
            font-size: 0.5em;
            text-transform: uppercase;
        }
        .btn-modal:focus{
            box-shadow: none;
        }
    }
    .txt-price{
        color: $grey-blue;
        font-family: "gothamLight";
        font-size: 0.6em;
        position: absolute;
            top: 10%;
            right: 10px;
    }
    .btn-map{
        color: $grey-cloud;
        font-size: 1.5em;
        position: absolute;
            bottom: 12%;
            right: 20px;
    }
}

#map{
    position: absolute;
        top: 45px;
        bottom: 0;
    transform: translateX(1000px);
    transition: transform 0.2s ease-in;
}

.map-on{
    transform: translate(0) !important;
}

.top-content{
    position: fixed;
        left: 5%;
    width: 90%;
    .search-bar{
        background: #FFF;
        border: .04em solid $grey-cloud;
        border-radius: 30px;
        display: flex;
            justify-content: flex-end;
            align-items: center;
        height: auto;
        width: 100%;
        input[type=text]{
            border: none;
            color: $off-black;
            display: inline;
            font-family: "gothamLight";
            width: 80%;
        }
        input[type=text]:focus{
            outline: none;
        }
        #searchButton{
            background: $grey-superLight;
            border-top-right-radius: 30px;
            border-bottom-right-radius: 30px;
            border-left: .04em solid $grey-cloud;
            box-sizing: border-box;
            color: $grey-blue;
            cursor: pointer;
            text-align: center;
            width: 15%;
            .fa-search{
                box-sizing: border-box;
                font-size: .8em;
            }
        }
    }
    .sb-index{
        transition: all 2s ease-out;
        input[type=text]{
            font-size: 1em;
        }
        #searchButton{
            padding: 2% 0;
        }
    };
    .sb-p2{
        input[type=text]{
            font-size: 0.7em;
        }
        #searchButton{
            padding: 1% 0;
        }
    };
}

.tc-index{
    top: 25%;
}

.tc-p2{
    position: relative;
    padding-top: 20%;
}

.flavour-text{
    color: #FFF;
    font-size: 9vw;
    font-family: "gothamBold";
    line-height: 120%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.footer{
    background-image: linear-gradient(15deg, rgba(163,215,223, 0.8) 15%, rgba(217,199,226, 0.8) 35%, rgba(0,0,0,0) 81%);
    position: fixed;
          bottom: 0;
    padding: 60% 25% 10% 7%;
    line-height: 100%;
    min-height: 0;
    .expl-text{
        color: #FFF;
        font-family: "gothamLight";
        font-size: .7em;
    }
    .purenz-logo{
        width: 14%;
        position: fixed;
            bottom: 6%;
            right: 4%;
    }
}

// MODAL STYLES
.modal{
    .modal-content{
        border: none;
        border-radius: 15px;
//        max-height: 350px;
        padding: 3%;
//        overflow: scroll;
        .modal-header-flex{
            display: flex;
            margin-bottom: 15px;
            position: relative;
             img{
                border-radius: 15px;
                display: inline;
                height: 90px;
                object-fit: cover;
                width: 90px;
                margin-right: 7px;
            }
            .img-booking img{
                border-radius: 7.5px;
                height: 50px;
                width: 50px;
            }
            .wrap-text{
                display: inline;
            }
            .modal-title{
                font-family: "gothamBold";
                text-transform: uppercase;
                margin-bottom: 3px;
            }
            .title-booking{
                font-size: .7em;
            }
            .txt-distance{
                color: $grey-cloud;
                font-family: "gothamLight";
                font-size: 0.6em;
                margin-bottom: 5px;
            }
            .txt-price{
                color: $grey-blue;
                font-family: "gothamLight";
                font-size: 0.7em;
                margin-bottom: 3px;
            }
            .price-green{
                color: $green;
            }
            .star-ctnr{
                color: $yellow;
                .fas{
                    margin-right: 2px;
                }
            }
            .fa-times{
                color: $grey-cloud;
                font-size: 0.8em;
                position: absolute;
                    top: 0;
                    right: 0;
            }
        }
        .modal-dscptn{
            font-family: "gothamLight";
            font-size: .8em;
            margin-bottom: 10px;
        }
        .modal-form{
            .input-title{
                color: $grey-blue;
                font-family: "gothamBold";
                font-size: .6em;
                margin-bottom: 5px;
                text-transform: uppercase;
            }
            input{
                color: $off-black;
                border: 0.05em solid $grey-superLight;
                border-radius: 7px;
                font-size: 0.8em;
                margin-bottom: 14px;
                padding: 2px;
            }
            input:focus{
                outline: none;
            }
            .form-flex{
                display: flex;
                input{
                    width: 90%;
                }
            }
        }
        .warning{
            color: #E64443;
            font-size: .7em;
            margin-top: -7px;
            margin-left: 3px;
            margin-bottom: 14px;
        }
        .txt-extras{
            color: $grey-blue;
            display: flex;
                justify-content: space-between;
                align-items: center;
            font-family: "gothamLight";
            font-size: 0.6em;
            width: 55%;
            input{
                transform: scale(0.75);
            }
        }
        .modal-footer-flex{
            display: flex;
                justify-content: space-between;
                align-items: flex-end;
            margin-bottom: 5px;
            .ft-title{
                color: $grey-cloud;
                font-family: "gothamLight";
                font-size: 0.6em;
                text-transform: uppercase;
            }
            .ft-flex{
                display: flex;
                .iconTxt-wrapper{
                    margin: 3px 6px 0 0;
                    img{
                        width: 1.5em;
                    }
                    .icon-title{
                        color: $grey-cloud;
                        font-family: "gothamBold";
                        font-size: 0.33em;
                        text-transform: uppercase;
                        text-align: center;
                    }
                }
            }
            .confirmation-txt{
                color: $off-black;
                display: none;
                font-size: 0.65em;
                font-family: gothamLight;
                width: 70%;
                margin-top: 0.7em;
            }
            .strong-txt{
                font-family: gothamBold;
            }
            .green-btn{
                background-color: $green;
                transition: background-color 0.5s ease-in-out;
            }
        }
        .total-title{
            font-family: "gothamBold";
            margin-bottom: 10px;
            text-transform: uppercase;
        }
        .total-text{
            font-family: "gothamLight";
            font-size: 0.8em;
            margin: 3px 1px;
        }
        .hr{
            border-bottom: 1px solid $grey-cloud;
            margin: 5px 0;
            width: 50%;
        }
        .btn-modal{
            color: #FFF;
            background-color: $orange;
            font-family: "gothamBold";
            font-size: 0.8em;
            text-transform: uppercase;
        }
        .dropdown-toggle::after{
            font-size: 1.3em;
        }
        .btn-modal:focus{
            box-shadow: none;
        }
    }
}

.green{
    color: $green !important;
}








